body {
    color: white;
    background: url("../img/hatter.png");
}

#kulso {
    width: 1000px;
    border: none;
    border-spacing: 0px;
  
}

td {
    padding: 5px;
}

.szelso {
    width: 120px;
}
.igazolvanyKep{
    display: block;
  }

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}
table.center {
    border-spacing: 5px;
    border: none;
}

a {
    color: #c0c0c0;
}
p {
    text-align: justify;
}
hr {
    text-align: center;
    width: 80%;
}

p.right {
    text-align: right;

}

cite {
    font-weight: bold;
}